@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



html {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --bgMain: hsl(217, 54%, 11%);
  --bgCard: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  font: 18px Outfit;
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

